includes.tex
auto
.DS_Store
images/.DS_Store
labs.run.xml
labs.bcf
rpi1.pdf
rpi2.pdf
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo
linux1.pdf
linux2.pdf
101labs.pdf
comment.cut
welcome.pdf
desktop*.pdf
latex-exercise.pdf
myconfig.cfg
appendix.pdf
index.html
desktop2.rel
labs.pdf
